<div style="margin-bottom: 40px;">
  <% if session[:current_user_id] %>
    <p><%= "Logged in as: #{session[:current_user_id]}" %></p>
  <% else %>
    <p><%= "You are not logged in" %></p>
  <% end %>
  <% if session[:current_user_id] %>
    <form action="/pages/game" method="post">
      <button name="log_out" type="submit" value="true">Log out</button>
    </form>
  <% else %>
    <p>Log in:</p>
    <form action="/pages/game" method="post">
      <input type="text" name="user">
      <button name="log_in" type="submit" value="true">Log in</button>
    </form>
  <% end %>
</div>

<% start_time = Time.now.to_i %>
<p>LETTERS:</p>
<% @grid.each do |i| %>
<%= i %>
<% end %>
<% s = "" %>
<% @grid.each { |i| s << i }%>

<form action="/pages/score" method="post">
  <input type="text" name="answer">
  <input type="hidden" name="grid" value="<%= s %>">
  <input type="hidden" name="start_time" value="<%= start_time %>">
  <input type="submit" name="submit">
</form>

